<h2><%= @action.name %></h2>
<span>status: <%= @action.finished ? "finished" : "not finished" %></span>

<blockquote>
<%= @action.description %>
</blockquote>

<% if @action.finished -%>
finished at <%= @action.finished_at %>
<% else -%>
<%= link_to 'finish.', finish_action_path(@action) %>
<% end -%>

delete.
