<h1>projekt.</h1>
<h2><%=h @project.name %></h2>

<p>
  <%=h @project.description %>
</p>

<%= render :partial => 'actions/list', :locals => {:project => @project} %>
<%= render :partial => 'actions/create', :locals => {:project => @project} %>

<%= link_to_function 'add action', "$('attach_action').toggleClassName('pleasehide'); $('attach_action_status').innerHTML='';"  %> |

<%= link_to 'edit', edit_project_path(@project) %> |
<%= link_to 'rm -rf', @project, :confirm => 'ya, rly?', :method => :delete %>