<h1>projekt.</h1>
<h2><%=h @project.name %></h2>

<p>
  <%=h @project.description %>
</p>

<div id='actions'>
    <% if @project.next_action -%>
    <div>
        <b>next action:</b>
        <%= link_to h(@project.next_action.name), @project.next_action %>
    </div>
    <% end -%>

    <% unless @project.more_actions.empty? -%>
    <div>
    <span>more actions:</span><br />
    <% @project.more_actions.each do |action| -%>
        <%= link_to h(action.name), action %><br/>
    <% end -%>
    </div>
    <% end -%>

    <div id='new_action' class='pleasehide'>
        <%= render :partial => 'action', :locals => {:project => @project} %>
    </div>

</div>


<%= link_to_function 'add action', "$('new_action').toggleClassName('pleasehide');"  %> |

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Obliterate', @project, :confirm => 'ya, rly?', :method => :delete %> |
<%= link_to 'Back', projects_path %>
