<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>projekthanteringscentralen.</title>
  <%= stylesheet_link_tag 'projekthanteringscentralen' %>
  <%= javascript_include_tag 'prototype' %>
  
</head>
<body>

<div id='menu'>
    <%= link_to 'projects', projects_path, :class => 'menu_link' %>
</div>

<div id='portugal'>
    <p><%= flash[:notice] %></p>
    <%= yield %>
</div>

</body>
</html>
